@font-face {
    font-family: 'PoppinsLight';
    src: url('/jm_website_custom/static/src/font/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'AlexBrush';
    src: url('/jm_website_custom/static/src/font/AlexBrush-Regular.ttf') format('truetype');
}


.main-title {
    font-family: 'AlexBrush';
    color: rgb(57, 132, 198);
}

.sub-title {
    font-family: 'PoppinsLight';
    color: black;
}