.pos .pos-topheader {
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height: 48px;
    margin:0;
    padding:0;
    color: gray;
    background: #c2a042;
    display: flex;
}

.pos .product .product-quantity {
    position: absolute;
    width: 100%;
    top: 40px;
    line-height: 13px;
    background-color: black;
    color: white;
    padding: 5px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;}

.pos .product .price-tag {
    position: absolute;
    top: 2px;
    right: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #c2a042;
    padding: 2px 5px;
    border-radius: 2px;
}

.cash-move-button:hover{
    background-color: #b5732d;
}

.ticket-button:hover{
    background-color: #b5732d;
}

.pos .pos-topheader .status-buttons > div:hover{
    background-color: #b5732d;
}

.pos .pos-topheader .status-buttons > div:hover{
    background-color: #b5732d;
}

.pos .pos-topheader .status-buttons > div:hover{
    background-color: #b5732d;
}

.js_connected .fa-wifi{
    color: #38a3c4;
}
