.pos {
    .pos-topheader {
        background: #9E8233 !important;
    }
    .product {
        .addon-info-button {
            position: absolute;
            top: 12px;
            left: 25px;
            font-size: 13px;
            border-radius: 2px;
            background-color: #7f82ac;
            color: white;
            padding: 1px;
            width: 15px;
            height: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .addon-info-button:hover {
            background-color: #595b79;
        }
    }

    .order {
        .orderline-addon {
            margin: 8px;
            word-break: break-all;

            .fa {
                opacity: 0.5;
                margin-right: 5px;
            }

            table.addon-item-info {
                .addon-list {
                    .price {
                        text-align: right;
                    }
                }
            }
        }
    }

}

.addon-info-popup {
    .section-addon-syrups-body {
        .row.addon-row {
            padding: 10px;
            &:hover{
                background-color: #D9B762;
            }
            &.selected{
                background-color: #C2A042;
                color: whitesmoke;
            }
        }
    }
}
// .addon-name {
//     &.selected {
//         background-color: red;
//     }
// }