.pos .product .addon-info-button {
    position: absolute;
    top: 12px;
    left: 25px;
    font-size: 13px;
    border-radius: 2px;
    background-color: #7f82ac;
    color: white;
    padding: 1px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;}

.pos .product .addon-info-button:hover {
    background-color: #595b79;
}

.pos .order .orderline-addon {
    margin: 8px;
    word-break: break-all;
}
.orderline-addon .fa {
    opacity: 0.5;
    margin-right: 4px;
}

.addon-price {
    margin-left: 5px;
}